#container {
    width: 40%;
    height: 60%;
    margin: auto;
    margin-top: 200%;
    margin-bottom: 25%;
}
.math {
    position:absolute;
}
#math1 {
    top:0px;
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}
#math2 {
    top:50%;
    width:90%;
    height:auto;
    opacity: 0.90;
    margin-left:auto;
    margin-right:auto;
}
#math3 {
    top:75%;
    width:80%;
    height:auto;
    opacity: 0.80;
    margin-left:auto;
    margin-right:auto;
}
#math4 {
    top:100%;
    width:70%;
    height:auto;
    opacity: 0.70;
    margin-left:auto;
    margin-right:auto;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
body {
    margin: 0%;
}
#outputText>a {
    font-size: 20px;
}
h1 {
    display: inline;
}
p {
    display: inline;
    font-size: 20px;
}
#helper {
    color: gray;
}
#links {
    font-size: 20px;
}
.typed-cursor {
    font-size: 20px;
}
/* Medium devices (phones, tablets, 768px and up) */
@media (max-width: 990px) {
    p {
        font-size:2rem;
    }
    #outputText {
        font-size:2rem;
    }
    #outputText>p>a {
        font-size:2rem;
    }
    #links>* {
        font-size:2rem;
    }
    #container {
        width: 80%;
        margin-top: 300%;
        margin-bottom: 25%;
    }
    #math1 {
        top:0px;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
    }
    #math2 {
        top:25%;
        width:90%;
        height:auto;
        opacity: 0.90;
        margin-left:auto;
        margin-right:auto;
    }
    #math3 {
        top:50%;
        width:80%;
        height:auto;
        opacity: 0.80;
        margin-left:auto;
        margin-right:auto;
    }
    #math4 {
        top:75%;
        width:70%;
        height:auto;
        opacity: 0.70;
        margin-left:auto;
        margin-right:auto;
    }
    .typed-cursor {
        font-size:2rem;
    }
    h1 {
        font-size:2.5rem;
    }
}
